* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 32px;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Inter";
}

main {
  background-image: url("./imgs/pattern-curve.svg");
  background-position: left bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

article {
  display: none;
}

.img {
  position: relative;
  background-image: url("./imgs/pattern-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.img img {
  width: 100%;
  display: block;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.switch-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 30px;
  padding: 0.25rem;
  background-color: white;
  gap: 1rem;
  color: #babacf;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.247);
}

.switch-btn * {
  cursor: pointer;
}

.text {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background-image: url("./imgs/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 20%;
  text-align: center;
  font-size: 0.5rem;
  color: #202046;
  line-height: 1.6;
}

.text p:last-child {
  font-weight: bold;
}

.text span {
  font-weight: lighter;
  color: #babacf;
  display: block;
}

.current {
  display: block;
}

@media screen and (min-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main {
    width: 70%;
    max-width: 1000px;
    height: auto;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
    background-size: 50%;
  }
  .text {
    background-position: 50% 30%;
    text-align: left;
  }
  .text span {
    display: inline-block;
  }
  .text p:first-child {
    font-size: 0.6rem;
  }
  .current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .current > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
